@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif; }

a {
  text-decoration: none;
  color: #666; }
  a:hover {
    color: #444; }
  a:visited {
    color: #666; }

nav {
  position: fixed;
  top: 43px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

nav ul {
  margin: 0;
  padding: 0;
  display: box;
  display: flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  box-pack: justify;
  flex-pack: distribute;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  nav ul li {
    display: inline;
    margin-left: 10px;
    text-overflow: display;
    font-size: .85em;
    list-style-type: none;
    line-height: 35px; }

.logo img:first-child {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%; }

.logo img:nth-child(2) {
  position: absolute;
  top: 65%;
  left: 10%;
  width: 80%; }

.logo img:last-child {
  z-index: -1; }

header {
  width: 100%;
  margin: 0 auto;
  height: 43px;
  position: fixed;
  top: 0;
  background-color: rgba(17, 17, 17, 0.85); }
  header img {
    width: 30px;
    margin: 0 auto;
    position: relative;
    top: 8px; }

img {
  display: block;
  width: 100%; }

.show {
  background: transparent url("http://7xoblm.com1.z0.glb.clouddn.com/images/bg.jpg") left top repeat;
  background-size: 100%; }
  .show img:first-child {
    z-index: -1; }
  .show img:last-child {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    width: 60%; }
  .show ul.xTP {
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0; }
    .show ul.xTP li img {
      padding: 1px;
      float: left;
      width: 33%; }
    .show ul.xTP li {
      position: relative;
      list-style-type: none; }
