nav.cpdh {
  li:first-child a {
    color: #888;
  }
}

.show {
  img:first-child {
    z-index: -1;
  }

  background:url('http://7xoblm.com1.z0.glb.clouddn.com/images/bg.jpg') left top;

  img:last-child {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 60%;
  }
  ul.xTP{
    height: 80px;
    width: 100%;

    li img {
      margin-left: 1px;
      padding: 1px;
      float: left;
      width: 33%;
    }
    li {
      position: relative;
    }
  }
}
